
<div class="container">

	<div class="row">
		<h1>Create a new picture</h1>
		<div class="col-lg-8 col-md-8 col-md-offset-2">

			<div class="panel panel-default">
			<div class="panel-heading"></div>
				<div class="panel-body">
					<%= render partial: "form" %>
					<br>
					<%= link_to "Back", :back %>
				</div>
			</div>


		</div>
	</div>
</div>
